header {
  background-color: #ff7f9e;
}

#header-h1 {
  font-size: 80px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
}

.cursive-font {
  font-family: "The Nautigal", cursive;
}

#pretzel {
  height: 41vh;
  background-image: url(../img/pretzel.jpg);
  background-size: contain;
}

#bday-box {
  height: 41vh;
  background-image: url(../img/bday-box.jpg);
  background-size: contain;
}

#cocoa-bombs {
  height: 41vh;
  background-image: url(../img/cocoa-bombs.jpg);
  background-size: contain;
}

footer {
  height: 20vh;
  background-image: url(../img/ec-logo.jpg);
  background-size: contain;
}

section {
  background-color: aqua;
}

a {
  color: black;
  font-size: 60px;
}

a:hover {
  color: white;
}
